.user-img {

}

.msg-text {
  font-size: 10pt;
  text-align: left;
  word-break: break-all;
}

.msg-time {
  font-size: 6pt;
  text-align: right;
  color: darkred;
}

.msg-container-base {
  height: 60vh;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: ghostwhite;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: darkgoldenrod;
  }
}

.msg-container {
  position: relative;
  overflow: hidden;
  display: flex;

}

.msg-user-container {
  color: black;
  font-size: 10pt;
  width: 48px;
  float: left;
  display: inline-block;

}

.msg-content-container, .msg-content-container-master {
  padding: 0 5px 0 5px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  display: inline-block;
  margin: 5px 0 15px 15px;
}

.msg-content-container {
  background-color: lightblue;
}

.msg-content-container-master {
  background-color: #ffdacd;
}

.msg-content-container:before, .msg-content-container-master:before {
  content: '';
  width: 0;
  height: 0;
  right: 100%;
  top: 20px;
  position: absolute;
  border-bottom: 12px solid transparent;
}

.msg-content-container:before {
  border-right: 12px solid lightblue;
}

.msg-content-container-master:before {
  border-right: 12px solid #ffdacd;
}

.chat-container {
  margin: 15px;
  border-radius: 10px;

  padding: 15px 10px 5px 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  background-image: url('/assets/images/backgrounds/chat.png');
}

.form-group {
  margin-top: 10px;
  border-radius: 5px;
  height: 40px;
  background-color: ghostwhite;

}

.form-control, :focus {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;

}

