
  <div class="jumbotron jumbotron-fluid" id="banner" [@headerState]="state" (click)="togglestates()">
    <div class="parallax text-center" style="background-image: url(images/background.png);" >
      <div class="parallax-pattern-overlay" >
        <div class="container text-center" id="size-banner" >

          <div id="btn-banner-wrapper">
            <a href="/new_game" class="btn btn-primary-outline btn-banner" >Новая игра</a>
          </div>
          <div id="btn-banner-wrapper">
            <a href="" class="btn btn-primary-outline btn-banner">Играть</a>
          </div>
          <div id="btn-banner-wrapper">
            <a href="" class="btn btn-primary-outline btn-banner">Настройки</a>
          </div>
        </div>
      </div>
    </div>
  </div>
