img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.parallax {
  text-align: center;
  background-size: 5%;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url(assets/images/logo.png);
  overflow: hidden;
}


