img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.parallax {
  text-align: center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(assets/images/game_background-small.png);
  overflow: hidden;
}


