.master-container {
  overflow: hidden;
  margin-top: 10px;

}

.master-image {
  overflow: hidden;
  width: 7vw;
  width: 8vw;
  float: left;
  display: inline-block;
}

.master-message {
  width: 20vw;
  float: left;
  display: inline-block;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
  margin: 25px 10px 10px 10px;
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}

.master-message:after {
  content: '';
  width: 0;
  height: 0;
  left: 100%;
  top: 12px;
  position: absolute;
  border-left: 12px solid lightgreen;
  border-bottom: 12px solid transparent;
}
