.avat-image {
  overflow: hidden;
  height: 84px;

}

.hand-card-image {
  overflow: hidden;
  height: 117.5px;
  width: 78.5px;
  float: left;
  display: inline-block;
  margin-left: 15px;
  margin-top: 25px;
}

.hand-arrow-image {
  display: none;
}

.hand {

}

.player-wrapper {
  width: 120px;
  margin: 0 2px 2px 2px;
  border-radius: 0.5em;
  color: darkred;
  background-image: url('/assets/images/player-texture.jpg');
  font-style: oblique;
  font-size: 18pt;
  padding: 5px 10px 15px 10px;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  float: left;
  display: inline-block;

  .stick-nudlle {
    width: 20px;
    height: 20px;
    margin-bottom: -8px;
    z-index: 2;
    position: relative;
  }

}

.player-min {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
}

.player {
  position: relative;
  border: 1px solid darkgoldenrod;
  background-color: #fff;
  padding: 5px 5px 0 5px;
  z-index: 1;
  border-radius: 0.25em;
  font-size: 12pt;
  font-style: normal;
}