.avat-image {
  overflow: hidden;
  height: 6vw;

}


.hand-card-image {
  overflow: hidden;
  height: 9vw;
  width: 6vw;
  float: left;
  display: inline-block;
  margin-left: 15px;
  margin-top: 25px;
}

.hand-arrow-image {
  display: none;
}

.hand {

}

.form-control {
  width: 100px;
}

.btn-black {
  background-color: #696969;
  color: #FFFFFF;
  border-color: #292929;
}

.btn-black:hover, .btn-black:focus {
  background-color: #3b3b3b;
  color: #FFFFFF;
}

.btn-black:active {
  background-color: #3b3b3b;
  color: #FFFFFF;
}

.text-input, .btn-input {
  display: none;
}

.player-wrapper {

  width: 9vw;
  border-radius: 0.5em;
  color: black;
  font-style: oblique;
  font-size: 18pt;
  padding: 5px 10px 15px 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  background-image: url('/assets/images/backgrounds/chat.png');
  float: left;
  display: inline-block;

  .stick-nudlle {
    width: 20px;
    height: 20px;
    margin-bottom: -8px;
    z-index: 2;
    position: relative;
  }

}

.player-min {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
}

.player {
  position: relative;
  padding: 5px 10px 0 10px;
  z-index: 1;
  border-radius: 0.25em;
  font-size: 12pt;
  font-style: normal;
}