<div *ngIf="!user.isUser">
    <div class="player-wrapper player-min">
        <div class="stick-nudlle">
            <img src='/assets/images/stick.png' class="img-fluid"/>
        </div>
        <div class="player">

            <div class="avat-image">
                <img src={{user.avatarImg}} class="img-fluid"/>
            </div>
            <div>
                {{user.username}}
            </div>
        </div>
    </div>
</div>
<div *ngIf="user.isUser">
    <div class="player-wrapper">
        <div class="stick-nudlle">
            <img src='/assets/images/stick.png' class="img-fluid"/>
        </div>
        <div class="player" (click)="start()">
            <div class="avat-image">
                <img src={{user.avatarImg}} class="img-fluid"/>
            </div>
            <div>
                {{user.username}}
            </div>
        </div>


    </div>
    <div class="hand" appCarusel imgClass=".card-image" shift_X="-160px" shift_Y="-260px" perspective="1200px"
         radius="240">

        <div *ngFor="let card of player.cards" class="card-image">
            <img src={{card.img}} class="img-fluid"/>
        </div>
    </div>
    <div class="clearfix"></div>
</div>