<div id="game-area" *ngIf="!endPoint.isUserExist()">
    <div class="playing-area" appDraggable>
        <div class="player-dummy"></div>
        <div *ngFor="let player of players | async">
            <div *ngIf="!player.isUser">
                <player [player]="player"></player>
            </div>
        </div>
        <div class="clearfix"></div>
        <table></table>
        <div class="user-area">
            <div *ngFor="let player of players | async">
                <div *ngIf="player.isUser">
                    <player [player]="player"></player>
                </div>
            </div>
        </div>
    </div>
    <div class="talking-area" appDraggable>
        <chat></chat>
    </div>
    <div class="clearfix">
    </div>
</div>
<div *ngIf="endPoint.isUserExist()">
</div>


