.game-area {
  height: 100vh;
  vertical-align: middle;
  margin-top: 75px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-left: 15px;
  font-family: cursive;
  font-style: oblique;
}

.playing-area {
  float: left;
  display: inline-block;
  margin-right: 5px;
  width: 760px;
}

.player-dummy {
  height: 150px;
  float: left;
  display: inline-block;
}

.talking-area {
  height: 560px;
  width: 420px;
  float: left;
  display: inline-block;
  margin-top: 20px;
  border-radius: 10px;
  background-image: url('/assets/images/chat-texture.jpg');
}

.user-area {
  margin-top: 20px;
}

.out-area {
  height: 100vh;
}

p {
  background-color: darkorange;
  padding: 20px 10px;
  border-radius: 5px;
  width: 480px;
  margin: 250px auto;
}

.game-master-area {
  height: 100px;
  margin-top: 20px;
  overflow: hidden;
}

.master-image {
  overflow: hidden;
  width: 104px;
  height: 89px;
}

.master-message {
  width: 270px;
  background-color: lightgreen;
  padding: 5px;
  border: solid 1px darkgreen;
  border-radius: 10px;
  height: 60px;
  margin: 0 10px;
  opacity: 0;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  float: left;
  display: inline-block;
}

