.game-area {
  height: 100vh;
  vertical-align: middle;
  margin-top: 75px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding-left: 15px;
}

.playing-area {
  float: left;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  height: 90vh;
}

.players {
  width: 57vw;
  height: 10vw;
}

.talking-area {
  float: left;
  display: inline-block;
  height: 100vh;

}

.out-area {
  height: 100vh;
}


p {
  background-color: darkorange;
  padding: 20px 10px;
  border-radius: 5px;
  width: 480px;
  margin: 250px auto;
}

.player-dummy {
  width: 9.4vw;
  height: 8.5vw;
  float: left;
  display: inline-block;
}