
img{
  width:100%;
  max-width: 100%;
  height:auto;
}

#size-banner{
    height:580px;
    display: table-cell;
    vertical-align: middle;
}

.btn-banner {
  font-weight: 600;
  color: #e74c3c;
  border-color: #e74c3c;
  width:120px;

}
#btn-banner-wrapper {
  padding-top:15px;
  
}
.parallax {
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:60%;
    background-attachment:fixed!important;
    overflow:hidden;

}

.parallax-pattern-overlay {
    background-color: rgba(255,255,255,0.5);
    display: table;
    width: 100%;
}
